<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}SDF{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png?v=2') }}"/>
    <link rel="shortcut icon" href="{{ asset('favicon.png?v=2') }}" type="img/x-icon">

    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/bootstrap.css') }}">
    <script href="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/style.css') }}">
    <script href="{{ asset('js/simpleCart.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/memenu.css') }}">

    <script href="{{ asset('js/memenu.js') }}"></script>
    <script href="{{ asset('js/jquery.easydropdown.js') }}"></script>


</head>

{% block header %}
    {%- include 'header.html.twig' -%}
{% endblock %}

{% block nav %}
    {%- include 'nav.html.twig' -%}
{% endblock %}
<body>
    {% block body %}
    {% endblock %}
</body>
    {% block footer %}
        {%- include 'footer.html.twig' -%}
    {% endblock %}
</html>