<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Symfoto{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png?v=2') }}"/>
    <link rel="shortcut icon" href="{{ asset('favicon.png?v=2') }}" type="img/x-icon">

    {% stylesheets '@bootstrap_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/symfony.css') }}">

    {% javascripts '@jquery' '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="{{ asset('js/bootstrap-loader.js') }}"></script>

    <style>
        .main-body{
            min-height:80vh
        }
    </style>

    {% block style %}
    {% endblock %}
</head>

<body>
{% block nav %}
    {%- include 'nav.html.twig' -%}
{% endblock %}

{% if app.user %} 
    {% block sidebar %}
    {% endblock %}
{% endif %}

<div id="throbber" style="display:none; min-height:120px;"></div>
<div class="container">
    <div id="page-wrapper">
        {% block body %}

        {% endblock %}
    </div>
</div><!-- /#wrapper -->

{% block footer %}
    {%- include 'footer.html.twig' -%}
{% endblock %}

{% block script %}
{% endblock %}

</body>
</html>