<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}SDF{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png?v=2') }}"/>
    <link rel="shortcut icon" href="{{ asset('favicon.png?v=2') }}" type="img/x-icon">

    {% stylesheets '@bootstrap_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/symfony.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/flexslider.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/memenu.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/profile.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/table.css') }}">

    <script type="text/javascript" src="{{ asset('js/bootstrap-multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/imagezoom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.easydropdown.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.flexslider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/memenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/responsiveslides.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/simpleCart.min.js') }}"></script>

    <!-- DropDown Script START -->
    <script type="text/javascript">
        $(function() {

            var menu_ul = $('.menu_drop > li > ul'),
                menu_a  = $('.menu_drop > li > a');

            menu_ul.hide();

            menu_a.click(function(e) {
                e.preventDefault();
                if(!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true,true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true,true).slideUp('normal');
                }
            });

        });
    </script>
    <!-- DropDown Script END -->

    {% javascripts '@jquery' '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <style>
        body {
            padding-top: 70px;
        }    
    </style>

    {% block style %}
    {% endblock %}
</head>

<body>
{% block nav %}
    {%- include 'nav.html.twig' -%}
{% endblock %}

{% if app.user %} 
    {% block sidebar %}
    {% endblock %}
{% endif %}

{% block body %}

{% endblock %}



{% block footer %}
    {%- include 'footer.html.twig' -%}
{% endblock %}

</body>
</html>