{% block nav %}
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Symfoto</a>
            <div id="navbar" class="navbar-collapse collapse">
                {% if app.user %}
                <ul class="nav navbar-nav navbar-left">
                    {%- if is_granted('ROLE_PHOTOGRAPH') -%}
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle nav-dropdown" data-toggle="dropdown">Media</a>
                            <ul class="dropdown-menu">
                                <li><a href="/gallery">My Galleries</a></li>
                                {#<li><a href="/image">My Images</a></li>#}
                                <li><a href="/showCategories">Categories</a></li>
                            </ul>
                        </li>
                    {%- endif -%}
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle nav-dropdown" data-toggle="dropdown">Shop</a>
                        <ul class="dropdown-menu">
                            {%- if is_granted('ROLE_PHOTOGRAPH') -%}
                                <li><a href="{{ path('myshopowner') }}">My Shop</a></li>
                                <li><a href="{{ path('products') }}">My Products</a></li>
                                <li><a href="/purchaseasseller">My Sales</a></li>
                            {%- endif -%}
                            <li><a href="/purchase">My Purchases</a></li>
                        </ul>
                    </li>
                    {%- if is_granted('ROLE_PHOTOGRAPH') -%}
                    <li>
                        <a href="{{ path('newProduct') }}" class="nav-dropdown" style="background-color: #337ab7">New Product</a>
                    </li>
                    {%- endif -%}
                </ul>
                {% endif %}

                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <li class="dropdown">
                            <a class="dropdown-toggle nav-dropdown" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Hello {{ app.user.username }}!<span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">My Profile</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="/admin">Admin Dashboard</a></li>
                                {% endif %}
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="/login" class="nav-dropdown">Login/Register</a></li>
                    {% endif %}
                    <li>
                        <a href="/checkout" class="nav-dropdown">
                            <img src="{{ asset('images/cart-1.png') }}" alt=""/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="header-bottom">
        <div class="container">
            <div class="col-md-4 pull-right">
                <div class="search-bar">
                    <form class="form-signin" action="{{ path('search') }}" method="post">
                        <input type="text" id="keyword" name="keyword" placeholder="Search">
                        <input type="submit" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
