{% extends 'base.html.twig' %}

{% block body %}

	<script>
		function addcartItem() {
			var request = new XMLHttpRequest();
			var item = document.getElementById("cartId").value;
			request.open("POST", "checkout/" + item);
			request.addEventListener('load', function(event) {
				window.location.reload();
			})
			request.send();
		}
		$(document).ready(function(c)
		{
			$('.close1').on('click', function(c)
			{
				waitingDialog.show('Loading...', {dialogSize: 'sm', progressType: 'info'});
				var itemId = c.target.id;
				var selectorForCartItem = '#cartitem' + itemId;
				$(selectorForCartItem).fadeOut('slow', function(c)
				{
					$(selectorForCartItem).remove();
				});

				var request = new XMLHttpRequest();
				request.open("DELETE", "checkout_delete/" + itemId);
				request.addEventListener('load', function(event) {
					if (request.status >= 200 && request.status < 300) {
						$('#notification').text('You have successfully deleted the item from your cart.');
						waitingDialog.hide();
					} else if(request.code == 'undefined' || request.code == null){
						$('#notification').text('Item has already been deleted.');
						waitingDialog.hide();
					} else {
						$('#notification').text('Action success.');               
						waitingDialog.hide();
					}
					$('#notification').show();
				});
				request.send();
			});
		});
	</script>

<div class="main-body">
	<div class="main-body">
    <div class="col-md-12">
        <div class="ckeck-top heading">
            <h2>Your Checkout</h2>
        </div>
		<div class="alert alert-success" id="notification" style="display:none">
        </div>
        <div class="tabs">
            <ul class="menu_drop">
                <li class="item1"><a>My Cart</a></li>
            </ul>
        </div>
			<div class="ckeckout-top">
				<div class="cart-items">
					<div class="in-check">
						<ul class="unit">
							<li><span>#</span></li>
							<li><span>Pictures / Galleries</span></li>
							<li><span>Name</span></li>
							<li><span>Price</span></li>
							<div class="clearfix"> </div>
						</ul>

						{% for item in cartItems %}
							<ul class="cart-header" id="cartitem{{item.id}}" >
								<div class="close1" id="{{item.id}}"> </div>
								<li><span class="cost">{{ loop.index }}</span></li>
								<li><span class="cost">
										<a class="mask">
                            				<img style="width:50%;" src="/uploads/media/default/0001/01/{{ item.image }}">
                        				</a>
									</span>
								</li>
								<li><span class="cost">{{item.name}}</span></li>
								<li><span class="cost">{{item.price}} €</span></li>
								<div class="clearfix"> </div>
							</ul>
						{% endfor %}

					</div>
                    <h3 class="text-right">Sum: {{ sum }} €</h3>
                    <br>
					<form action="" method="post">
						<button name="order" value="order" class="btn btn-primary pull-right">Order</button>
					</form>
				</div>
		 	</div>
		</div>
	</div>
	
{% endblock %}