{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-multiselect.css') }}"/>
{% endblock %}

{% block body %}
    <h3>New Product</h3>
    <form action="/myproduct" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" placeholder="Name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="€">
        </div>
        <div class="form-group">
            <label for="price">Description</label>
            <textarea class="form-control" id="description" name="description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <label for="galleries">Galleries</label>
            <select multiple name="galleries[]" id="galleries" >
                {% for gallery in galleries %}
                    <option value="{{gallery.id}}">{{gallery.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" id="category" >
                {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
            </select>
            or <a target="_blank" href="/showCategories">Create new one</a>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ asset('js/bootstrap-multiselect.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#galleries').multiselect({
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            disableIfEmpty: true,
            disabledText: 'No Galleries',
            maxHeight: 250,
            buttonClass: 'btn btn-link',
            allSelectedText: 'All Galleries',
            numberDisplayed: 3
        });
    })

    $(document).ready(function() {
        $('#category').multiselect({
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            maxHeight: 250,
            buttonClass: 'btn btn-link'
        });
    })

</script>
{% endblock %}