{% extends 'base-user.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block body %}
{# <div class="small-body">
    <div class="container"> #}
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Gallery</li>
            </ol>
        </nav>

        <h3>Galleries</h3>
        <div class="row col-md-12 custyle">
            <table class="table table-striped custab">
                <thead>
                    <h6>New Gallery</h6>
                    <form class="form-inline" action="gallery" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input id="name" name="name" type="text" placeholder="Name" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>                            
                    </form>
                    <tr>
                        <th>Name</th>
                        {# <th>Action</th> #}
                    </tr>
                </thead>
                    {% for item in galleries %}
                        <tr>
                            <td><a  href="/gallery/{{item.slug}}">{{item.name}}</a></td>
                            {# <td><a class='btn btn-info btn-xs' href="/gallery/edit/{{item.slug}}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="/gallery/delete/{{item.slug}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td> #}
                        </tr>
                    {% endfor %}
            </table>
        </div>
    {# </div> <!-- /container -->
</div> #}
{% endblock %}