{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/table.css') }}">
{% endblock %}

{# {% block sidebar %}
    {%- include 'sidebar.html.twig' -%}
{% endblock %} #}

{% block body %}
{# <div class="small-body">
    <div class="container"> #}
        <h3>{{gallery.name}}</h3>

        <h3>Images</h3>
        <div class="row col-md-12 custyle">
            <table class="table table-striped custab">
                <thead>
                    <div class="pull-left">
                        <form action="/image/new/{{gallery.slug}}" method="POST" enctype="multipart/form-data">
                            <span>Datei</span>
                            <input type="file" name="images[]" multiple="">
                            <input type="submit" class="btn" value="Hochladen">
                        </form>
                    </div>
                    <tr>
                        <th>Name</th>
                        <th>Uploaded At</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in images %}
                        <tr>
                            <td>
                                <a href="/image/{{item.getProviderReference}}">{{item.getName}}</a>
                            </td>
                            <td>{{ createdAt[loop.index - 1] }}</td>
                            <td><a href="/gallery/image/delete/{{item.id}}/{{gallery.slug}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {# </div> <!-- /container -->
</div> #}
{% endblock %}