{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/image-gallery.css') }}">
{% endblock %}

{% block script %}
    <script src="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>
    <script>
        $(document).ready(function() {                
            $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });                                        
        }); 

    </script>
{% endblock %}

{% block body %}
{# <div class="small-body">
    <div class="container"> #}
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="/gallery">Gallery</a></li>
            <li class="active">{{gallery.name}}</li>
        </ol>

        <h3>Images of Gallery "{{gallery.name}}"</h3>
        <div>
            <p>Add images from your computer</p>
            <form action="/image/new/{{gallery.slug}}"  method="post" enctype="multipart/form-data">
                <div class="form-inline">
                <div class="form-group">
                    <input type="file" name="images[]" multiple>
                </div>
                <button type="submit" class="btn btn-sm btn-primary">Upload images</button>
                </div>
            </form>
        </div>
        <hr>
        <section class="row">
            {% for item in images %}
            <article class="col-xs-12 col-sm-6 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/uploads/media/default/0001/01/{{item.getProviderReference}}" title="{{item.getName}}" class="zoom" data-title="{{gallery.name}}" data-footer="Name: {{item.getName}}| Dimension: {{item.getHeight}}x{{item.getWidth}}| Size: {{ images_size[loop.index - 1] }}" data-type="image" data-toggle="lightbox">
                            <img src="/uploads/media/default/0001/01/{{item.getProviderReference}}" alt="{{item.getName}}" />
                            <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <h4><a href="/image/{{item.getProviderReference}}" title="{{item.getName}}">{{item.getName}}</a></h4>
                        <span class="pull-right">
                            <a href="/gallery/image/delete/{{item.id}}/{{gallery.slug}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a>
                        </span>
                    </div>
                </div>
            </article>
            {% endfor %}                                            
        </section>
    {# </div> <!-- /container -->
</div> #}

{% endblock %}