{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/image-gallery.css') }}">
    <style>
     .breadcrumb {background: rgba(224, 224, 224, 1); border: 0px solid rgba(102, 98, 98, 1); border-radius: 0px; display: block;}
        .breadcrumb li {font-size: 14px;}
        .breadcrumb a {color: rgba(66, 139, 202, 1);}
        .breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
        .breadcrumb>.active {color: rgba(153, 153, 153, 1);}
        .breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\002F\00a0";}
    </style>
    <style>
.thumbnail {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
</style>
{% endblock %}

{% block body %}
<div class="main-body">
    <div class="col-md-12">
        <div class="ckeck-top heading">
            <h2>Gallery "{{gallery.name}}"</h2>
        </div>
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="/gallery">Gallery</a></li>
            <li class="active">{{gallery.name}}</li>
        </ol>
        <hr>
        {% if message %}
			<div class="alert alert-{{ status }}">
				{{ message }}
            </div>		
		{% endif %}
        <div>
            <p>Add images from your computer</p>
            <form action="/image/new/{{gallery.slug}}"  method="post" enctype="multipart/form-data">
                <div class="form-inline">
                <div class="form-group">
                    <input type="file" name="images[]" multiple required>
                </div>
                <button type="submit" class="btn btn-sm btn-primary">Upload images</button>
                </div>
            </form>
        </div>
        <hr>
        <section class="row">
            {% for item in images %}
            <article class="col-xs-12 col-sm-6 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/image/{{item.getProviderReference}}">
                            <div class="thumbnail">
                                <img src="/uploads/media/default/0001/01/thumb_{{item.id}}_default_small.png" alt="{{item.getName}}" />
                            </div>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <h4>
                            <a href="/image/{{item.getProviderReference}}" title="{{item.getName}}">
                                {{ item.getName|length > 10 ? item.getName|slice(0, 10) ~ '...' : item.getName  }}
                            </a>
                        </h4>
                        <span class="pull-right">
                            <a href="/gallery/image/delete/{{item.id}}/{{gallery.slug}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                        </span>
                    </div>
                </div>
            </article>
            {% endfor %}                                            
        </section>
    </div> <!-- /container -->
</div> 

{% endblock %}