{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block sidebar %}
    {%- include 'sidebar.html.twig' -%}
{% endblock %}

{% block body %}
<div class="small-body">
    <div class="container">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Gallery</li>
            </ol>
        </nav>
        <h3>List of Gallery</h3>
        <div class="row col-md-12 custyle">
            <table class="table table-striped custab">
                <thead>
                    <div class="pull-right">
                        <h6>New Gallery</h6>

                        <form role="form" class="col-md-9 go-right" action="gallery" method="post">
                            <div class="form-group col-lg-6">
                                <input id="name" name="name" type="text" placeholder="Name" class="form-control" required>
                            </div>
                            <div class="form-group col-lg-3">
                                <input type="submit" value="Create" class="btn btn-primary pull-right">
                            </div>
                        </form>
                        <p style="padding:10px;margin-top:20px;clear:both"></p>
                    </div>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                    {% for item in galleries %}
                        <tr>
                            <td><a  href="/gallery/{{item.slug}}">{{item.name}}</a></td>
                            <td><a class='btn btn-info btn-xs' href="/gallery/edit/{{item.slug}}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="/gallery/delete/{{item.slug}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                        </tr>
                    {% endfor %}
            </table>
        </div>

    </div> <!-- /container -->
</div>
{% endblock %}