{% extends 'base-user.html.twig' %}

{# {% block sidebar %}
    {%- include 'sidebar.html.twig' -%}
{% endblock %} #}

{% block body %}
{# <div class="small-body">
    <div class="container"> #}
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/image">Image</a></li>
            </ol>
        </nav>

        <h3>Image</h3>
        <div class="row col-md-12 custyle">
            <table class="table table-striped custab">
                <thead>
                    <div class="pull-left">
                        <form action="/image/new/null" method="POST" enctype="multipart/form-data">
                            <span>Datei</span>
                            <input type="file" name="images[]" multiple="">
                            <input type="submit" class="btn" value="Hochladen">
                        </form>
                    </div>
                    <tr>
                        <th>Preview</th>
                        <th>Gallery</th>
                        <th>Uploaded At</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in images %}
                        <tr>
                            <td>
                                <a href="/image/{{item.getProviderReference}}"><img src="/uploads/media/{{item.getContext}}/0001/01/thumb_{{item.getId}}_default_navsec.{{item.getExtension}}" width="50px"></a>
                            </td>
                            <td>
                                <p>
                                    {{ current_galleries[item.id] }}
                                </p>
                            </td>
                            <td>{{ createdAt[loop.index - 1] }}</td>
                            <td><a href="/image/delete/{{item.id}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {# </div>
</div> #}
{% endblock %}
