{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/table.css') }}">
{% endblock %}


{% block body %}
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/gallery/{{current_galleries[image.getId]}}">{{current_galleries[image.getId] | raw }}</a></li>
        <li class="active">{{image.name}}</li>
    </ol>
    <h3>Image</h3>
    <div class="row">
        <div class="col-lg-4">
            <img style="width:100%;" src="/uploads/media/{{image.getContext}}/0001/01/thumb_{{image.getId}}_default_navsec.{{image.getExtension}}">
        </div>
        <div class="col-lg-4">
            <p>Name: {{image.getName}}</p>
            <p>Gallery : 
                {% if current_galleries %}
                    {{current_galleries[image.getId] | raw }}
                {% else %}
                    -
                {% endif %}
                <a class="btn btn-info" href="/image/{{image.getProviderReference}}/gallery">Update Gallery</a> 
            </p>
            <p>Type: {{image.getContentType}}</p>
            <p>Size: {{size}}</p>
            <p>Resolution: {{image.getHeight}}(h) x {{image.getWidth}}(w)</p>
            <p>Uploaded at: {{created_At}}</p>
            <input type="hidden" id="media_id" value="{{image.getId}}">
        </div>
    </div>

{% endblock %}
