
{% extends 'base.html.twig' %}

{% block sidebar %}
    {%- include 'sidebar.html.twig' -%}
{% endblock %}

{% block body %}
<div class="small-body">
    <div class="container">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/gallery">Gallery</a></li>
                <li class="breadcrumb-item"><a href="/gallery/{{gallery.slug}}">{{gallery.name}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Upload Image</li>
            </ol>
        </nav>

        <h3>Adding a new Image(s)</h3>

        {{ form_start(form) }}
            {{ form_label(form.images) }}
            {{ form_widget(form.images, { 'full_name': 'kmv_ampbundle_review[images]' ~ '[]' }) }}
            {% if errorMessages is defined %}
                <ul class="error">
                {% for errorMessage in errorMessages %}
                    <li>{{ errorMessage }}</li>
                {% endfor %}
                </ul>
            {{ form_widget(form.save) }}
            {% endif %}

            {# ... #}

            {{ form_widget(form.save, { 'label': 'Click me' }) }}

        {{ form_end(form) }}

    </div> <!-- /container -->
</div>
{% endblock %}

