{% extends 'base.html.twig' %}

{% block body %}
 <div class="body">
    <div class="container">
        <!--prdt-starts-->
        <div class="prdt">
            {# <div class="prdt-top"> #}
            <div class="col-md-12 prdt-left">
                <div>
                    <ul class="menu_drop">
                        <li class="item1"><a href="#"><img src="{{ asset('images/arrow.png') }}" alt="">Photographers</a>
                            <ul>
                                <li class="subitem1"><a href="#">Here you can find every photographer registered to this website. By clicking on a photographers box,
                                        you get redirected to their specific shop page. On that page you can see every product the shop owner is offering.</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% for item in photographersAll %}
                    {% if (loop.index % 3) >= 0 %}
                        {% if (loop.index % 3) == 1 %}
                            <div class="product-one">
                        {% endif %}
                        <div class="col-md-4 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="{{ path('shopowner', { 'shopownerID' : item.userid }) }}" class="mask">{% media item.previmage, 'nav' with {'class': 'navHorizontalCenter'} %}</a>
                                <div class="product-bottom">
                                    <h3>{{ item.getFirstname }} {{ item.surname }}</h3>
                                    <p>{{ item.shortdescr }}</p>
                                </div>
                            </div>
                        </div>
                        {% if (loop.index % 3) == 0 or (loop.index) == (loop.last)%}
                            <div class="clearfix"></div>
                            </div>
                        {% endif %}
                    {% else %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
