{% extends 'base.html.twig' %}

{% block body %}
<div class="main-body">
    <div class="col-md-12">
        <div class="ckeck-top heading">
            <h2>Welcome to Symfoto!</h2>
            <p>
                Symfoto is a vibrant photo shop platform.
                Whether you need hero images for your blog, placeholder images for your website, or first-rate stock photography for commercial use, you’ll find what you’re looking for right here.
            </p>
        </div>
        <div class="tabs">
            <ul class="menu_drop">
                <li class="item1"><a>Photographers</a></li>
            </ul>
        </div>
            {% for item in photographers %}
                {% if (loop.index % 3) >= 0 %}
                    {% if (loop.index % 3) == 1 %}
                    {% endif %}
                    <div class="col-md-3">
                        <div class="product-main simpleCart_shelfItem">
                            <a href="{{ path('shopowner', { 'shopownerID' : item.getUserId }) }}" class="mask">
                                <img src="https://api.adorable.io/avatars/285/{{item.getUserId}}.png" width="200" height="200" class="navHorizontalCenter" sizes="(max-width: 200px) 100vw, 200px">
                            </a>
                            <div class="product-bottom">
                                <h3>{{ item.firstname }} {{ item.lastname }}</h3>
                                <p>
                                    {{ item.shortdescr|length > 20 ? item.shortdescr|slice(0, 20) ~ '...' : item.shortdescr  }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if (loop.index % 3) == 0 or (loop.index) == (loop.last)%}
                        <div class="clearfix"></div>
                        </div>
                    {% endif %}
                {% else %}
                {% endif %}
            {% endfor %}
        </div>
    {# </div> #}
</div>
{% endblock %}
