{% extends 'base.html.twig' %}

{% block body %}
 <div class="body">
    <div class="container">
        <!--prdt-starts-->
        <div class="prdt">
            {# <div class="prdt-top"> #}
            <div class="col-md-12 prdt-left">
                <div>
                    <ul class="menu_drop">
                        <li class="item1"><a>Photographers</a></li>
                    </ul>
                </div>
                {% for item in photographersAll %}
                    {% if (loop.index % 3) >= 0 %}
                        {% if (loop.index % 3) == 1 %}
                            <div class="product-one">
                        {% endif %}
                        <div class="col-md-3 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="{{ path('shopowner', { 'shopownerID' : item.userid }) }}" class="mask">
                                    <img src="https://api.adorable.io/avatars/285/{{item.getId}}.png" width="175" height="175" class="navHorizontalCenter" sizes="(max-width: 175px) 100vw, 175px">
                                </a>
                                <div class="product-bottom">
                                    <h3>{{ item.getFirstname }} {{ item.surname }}</h3>
                                    <p>
                                        {{ item.shortdescr|length > 20 ? item.shortdescr|slice(0, 20) ~ '...' : item.shortdescr  }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% if (loop.index % 3) == 0 or (loop.index) == (loop.last)%}
                            <div class="clearfix"></div>
                            </div>
                        {% endif %}
                    {% else %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
