{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/table.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('colorbox/example5/colorbox.css') }}">
{% endblock %}

{% block body %}
<div class="main-body">
    <div class="col-md-12">
        <div class="ckeck-top heading">
            <h2>Product '{{product.getName}}'</h2>
        </div>
        <div class="tabs">
            <ul class="menu_drop">
                <li class="item1"><a>Detail of Product</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img style="width:100%;max-width:500px;" src="/uploads/media/default/0001/01/thumb_{{ product.getImage }}_default_small.png">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <p><b>Category:</b> {{product.getCategory}}</p>
                <p><b>Description:</b><br>
                    {{product.getDescription}}</p>
                <p><b>Price:</b> {{product.getPrice}} €</p>
                <p><b>Published:</b> {{product.getEnabled ? 'YES' : 'NOT'}}</p>
                <p><b>Created at:</b> {{created_At}}</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3>Images</h3>
                <table class="table custyle table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in images %}
                            <tr>
                                <td>
                                    <a class="group4"  title="{{item.getName}}|{{item.getHeight}}x{{item.getWidth}}|{{ images_size[loop.index - 1] }}" href="/uploads/media/default/0001/01/thumb_{{item.id}}_default_small.png">
                                        {{item.getName}}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ asset('colorbox/jquery.colorbox.js') }}"></script>
<script type="text/javascript">
   $(document).ready(function(){
     $(".group4").colorbox({rel:'group4', slideshow:true});
     jQuery.colorbox.settings.maxWidth  = '100%';
     jQuery.colorbox.settings.maxHeight = '90%';

      // ColorBox resize function, seems do work now
      var resizeTimer;
      $(window).resize(function(){
        if (resizeTimer) clearTimeout(resizeTimer);
          resizeTimer = setTimeout(function() {
          if ($('#cboxOverlay').is(':visible')) {
            //reload ist selbst hinugefügt in colorbox.js, public func welche einfach nur load() aufruft
            $.colorbox.reload();
          }
        }, 300)
      });

   });
</script>
{% endblock %}