{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block body %}
<div class="main-body">
    <div class="col-md-12">
        <div class="ckeck-top heading">
            <h2>My Product</h2>
        </div>
        <div class="tabs">
            <ul class="menu_drop">
                <li class="item1"><a>List of Products</a></li>
            </ul>
        </div>
        {% for item in products %}
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="product-main simpleCart_shelfItem">

                    <a href="/productdetails/{{item.getId}}" class="mask">
                        <img style="width:80%;" src="/uploads/media/default/0001/01/thumb_{{ item.getImage }}_default_small.png">
                    </a>
                    <div class="product-bottom">
                        <h3>{{item.getName}}</h3>
                        <p>Published: {{item.getEnabled ? 'YES' : 'NOT'}}
                        </p>
                        <p>
                            {% if item.getEnabled %} <a href="/myproduct/{{item.getId}}/0">UNPUBLISH</a> {% else %} <a href="/myproduct/{{item.getId}}/1">PUBLISH</a> {% endif %}
                        </p>
                        <h4><span class="item_price">€ {{ item.getPrice }}</span></h4>

                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
