{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block body %}

    <h3>Products</h3>
    <div class="col-md-9 prdt-left">
        <div class="product-one">
        {% for item in products %}
            <div class="col-md-4 product-left p-left">
                <div class="product-main simpleCart_shelfItem">

                    <a href="/productdetails/{{item.getSlug}}" class="mask">
                        <img style="width:100%;" src="/uploads/media/default/0001/01/{{ item.image }}">
                    </a>
                    <div class="product-bottom">
                        <h3>{{item.getName}}</h3>
                        <p>Published: {{item.getEnabled ? 'YES' : 'NOT'}}
                        </p>
                        <p>
                            {% if item.getEnabled %} <a href="/myproduct/{{item.getId}}/0">UNPUBLISH</a> {% else %} <a href="/myproduct/{{item.getId}}/1">PUBLISH</a> {% endif %}
                        </p>
                        <h4><span class="item_price">€ {{ item.getPrice }}</span></h4>

                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}