{% extends 'base.html.twig' %}

{% block body %}
<div class="main-body">
    <div class="col-md-12">
        <div class="ckeck-top heading">
            <h2>My Purchase</h2>
        </div>
		{% if message %}
			<div class="alert alert-success">
				{{ message }}
            </div>		
		{% endif %}
        <div class="tabs">
            <ul class="menu_drop">
                <li class="item1"><a>List of purchases</a></li>
            </ul>
        </div>
			<div class="ckeckout-top">
				<div class="cart-items">
					<div class="in-check">
						<ul class="unit">
							<li style="width: 20%"><span>#</span></li>
							<li style="width: 40%"><span>Products / Price</span></li>
							<li style="width: 20%"><span>Date</span></li>
							<li style="width: 10%"><span>Total Price</span></li>
							<li style="width: 10%"><span>Paid (Approved by seller)</span></li>
							<div class="clearfix"> </div>
						</ul>

						{% for purchase in purchases %}
							<ul class="cart-header" id="cartitem{{ purchase.id }}" >
								<div id="{{purchase.id}}"> </div>
								<li style="width: 20%"><span class="cost">{{ purchase.id }}</span></li>
								<li style="width: 40%"><span class="cost">
									{% for product in purchase.products %}
										{{ product.name }} / {{ product.price }}<br>
									{% endfor %}
								</span></li>
								<li style="width: 20%"><span class="cost">{{ purchase.datetime|date("m/d/Y") }}</span></li>
								<li style="width: 10%"><span class="cost">{{ purchase.sum }} €</span></li>
								<li style="width: 10%"><span class="cost">{{ purchase.isPaid ? 'YES' : 'NOT' }}</span>
									{% if purchase.isPaid %}
									     <form action="/download_purchase" method="post">
										 	<input type="hidden" name="userId" value="{{purchase.user}}" >
											<input type="hidden" name="purchaseId" value="{{purchase.id}}" >
											<input type="submit" class="btn" value="DOWNLOAD" >
										 </form>
									{% endif %}
								</li>
								<div class="clearfix"> </div>
							</ul>
						{% endfor %}
					</div>
				</div>
		 	</div>
		</div>
	</div>
	
{% endblock %}