{% extends 'base.html.twig' %}

{% block body %}
<div class="main-body">
    <div class="col-md-12">
        <div class="ckeck-top heading">
            <h2>My Sales</h2>
        </div>
        <div class="tabs">
            <ul class="menu_drop">
                <li class="item1"><a>List of sales</a></li>
            </ul>
        </div>
		<div class="ckeckout-top">
			<div class="cart-items">
				<div class="in-check">
					<ul class="unit">
						<li style="width: 10%"><span>#</span></li>
						<li style="width: 40%"><span>Products (Price)</span></li>
						<li style="width: 20%"><span>Date</span></li>
						<li style="width: 10%"><span>Total Price</span></li>
						<li style="width: 20%"><span>Paid</span></li>
						<div class="clearfix"> </div>
					</ul>

					{% for purchase in purchases %}
						<ul class="cart-header" id="cartitem{{ purchase.id }}" >
							<div id="{{purchase.id}}"> </div>
							<li style="width: 10%"><span class="cost">{{ purchase.id }}</span></li>
							<li style="width: 40%"><span class="cost">
								{% for product in purchase.products %}
									{{ product.name }} ({{ product.price }} €)<br>
								{% endfor %}
							</span></li>
							<li style="width: 20%"><span class="cost">{{ createdAt[loop.index - 1] }}</span></li>
							<li style="width: 10%"><span class="cost">{{ purchase.sum }} €</span></li>
							<li style="width: 20%">
								<span class="cost" style="display: inline-block; margin-right: 1em">{{ purchase.isPaid ? 'YES' : 'NO' }}</span>
								{% if not purchase.isPaid %}
									<a class="btn btn-primary" href="{{ path('purchaseasseller') }}/{{ purchase.id }}">Approve</a>
								{% endif %}
							</li>
							<div class="clearfix"> </div>
						</ul>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
	
{% endblock %}