{% extends 'base.html.twig' %}

{% block body %}
    <script>
        function addBasketItem(item) {
            console.log("addBasketItem "+  item);
            var request = new XMLHttpRequest();
            request.open("POST", "{{ path('checkout') }}/"+ item);
            request.send();
        }
    </script>
    <div>
        <div class="container">
            <div class="single-main">
                <div class="col-md-12">
                    <div class="ckeck-top heading">
                        <h2>Search '{{ keyword }}'</h2>
                    </div>
                    <div class="tabs">
                        <ul class="menu_drop">
                            <li class="item1"><a>Products</a></li>
                        </ul>
                    </div>
                    <div class="latestproducts">
                        {% for item in products %}
                            {% if (loop.index % 3) >= 0 %}
                                {% if (loop.index % 3) == 1 %}
                                    <div class="product-one">
                                {% endif %}
                                    {% if item.enabled %}
                                        <div class="col-md-4 product-left p-left">
                                            <div class="product-main simpleCart_shelfItem">
                                                <a href="/productdetails/{{item.getId}}" class="mask">
                                                    <img style="width:80%;" src="/uploads/media/default/0001/01/{{ item.image }}"></a>
                                                <div class="product-bottom">
                                                    <h3>{{item.getName}}</h3>
                                                    <h4><span class="item_price">€ {{ item.getPrice }}</span></h4>
                                                    <button class="btn btn-primary" onclick=addBasketItem({{item.id}})>ADD TO CART</button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% if (loop.index % 3) == 0 or (loop.index) == (loop.last)%}
                                    <div class="clearfix"></div>
                                    </div>
                                {% endif %}
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}