{% extends 'base.html.twig' %}

{% block style %}
<style>
.thumbnail {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
</style>
{% endblock %}

{% block body %}
    <script>
        function addBasketItem(item) {
            $('#notification-'+item).hide();
            waitingDialog.show('Loading...', {dialogSize: 'sm', progressType: 'info'});
            var request = new XMLHttpRequest();
            request.open("POST", "/post_checkout/"+ item);
            request.addEventListener('load', function(event) {
                if (request.status >= 200 && request.status < 300) {
                    $('#notification-'+item).text('You have successfully checked out one item. Please check your cart to proceed your order.');
                } else if(request.code == 'undefined' || request.code == null){
                    $('#notification-'+item).text('This item already in your basket.');
                } else {
                    $('#notification-'+item).text('Please check your cart to proceed your order.');                waitingDialog.hide();
                }
                $('#notification-'+item).show();
                waitingDialog.hide();
            });
            request.send();
        }
    </script>
<div class="main-body">
    <div class="col-md-12">
        <div class="ckeck-top heading">
            <h2>Search '{{ keyword }}'</h2>
        </div>
        <div class="tabs">
            <ul class="menu_drop">
                <li class="item1"><a>Products</a></li>
            </ul>
        </div>
        <div class="latestproducts">
            {% for item in products %}
                {% if (loop.index % 3) >= 0 %}
                    {% if (loop.index % 3) == 1 %}
                        <div class="product-one">
                    {% endif %}
                        {% if item.enabled %}
                            <div class="col-sm-3 product-left p-left">
                                <div class="product-main simpleCart_shelfItem">
                                    <a href="/productdetails/{{item.getId}}" class="mask">
                                        <div class="thumbnail">
                                            <img src="/uploads/media/default/0001/01/thumb_{{ item.getImage }}_default_small.png">
                                        </div>
                                    </a>
                                    <div class="product-bottom">
                                        <div class="alert alert-success" id="notification-{{item.getId}}" style="display:none">
                                        </div>
                                        <h3>{{item.getName}}</h3>
                                        <h4><span class="item_price">€ {{ item.getPrice }}</span></h4>
                                        <button class="btn btn-primary" onclick=addBasketItem({{item.id}})>ADD TO CART</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% if (loop.index % 3) == 0 or (loop.index) == (loop.last)%}
                        <div class="clearfix"></div>
                        </div>
                    {% endif %}
                {% else %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}