{% block body %}
    <section class="main-section contact">
        <h2>PASSWORT VERGESSEN</h2><br>
        <h6>
            Gebe einfach ein neues Passwort ein und bestätige.
        </h6>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-5 wow fadeInUp delay-05s">
                    <div class="form ">
                           {#<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
                               {{ form_widget(form, { 'attr': {'class': 'input-text'} }) }}
                               <div>
                                   <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
                               </div>
                           </form>#}


                            <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">

                               {{ form_label(form.new.first, 'Neues Password') }}
                               {{ form_widget(form.new.first, { 'attr': {'class': 'input-text'} }) }}

                               {{ form_label(form.new.second, 'Passwort wiederholen') }}
                               {{ form_widget(form.new.second, { 'attr': {'class': 'input-text'} }) }}
                                {{ form_rest(form) }}


                               <div>
                                   <input type="submit" class="input-btn" value="Ändern" />
                               </div>
                           </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}




