{% extends 'base.html.twig' %}

{% block body %}
    <div class="single contact">
        <div class="container">
            <div class="single-main">
                <div class="col-md-12 single-main-left">
                    <div class="product-bottom">
                        <h3>{{product.getName}}</h3>
                        <h4><span class="item_price">€ {{ product.getPrice }}</span></h4>
                    </div>
                    </div>
                    <div class="latestproducts">
                        {% for item in media %}
                            {% if (loop.index % 3) >= 0 %}
                                {% if (loop.index % 3) == 1 %}
                                    <div class="product-one">
                                {% endif %}
                                <div class="col-md-4 product-left p-left">
                                    <div class="product-main simpleCart_shelfItem">
                                        {% media item.id , 'nav' with {'class': 'navHorizontalCenter'} %}
                                        <div class="product-bottom">
                                            <h3>name: {{item.getName}}</h3>
                                            <h3>datei größe: {{item.size}}</h3>
                                            <h3>breite: {{item.width}}</h3>
                                            <h3>höhe: {{item.height}}</h3>
                                        </div>
                                    </div>
                                </div>
                                {% if (loop.index % 3) == 0 or (loop.index) == (loop.last)%}
                                    <div class="clearfix"></div>
                                    </div>
                                {% endif %}
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}