{% extends 'base-user.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-multiselect.css') }}"/>
{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/product">Products</a></li>
            <li class="breadcrumb-item" aria-current="page">New Product</li>
        </ol>
    </nav>

    <h3>New Product</h3>
    <form action="/myproduct" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" placeholder="Name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="price">Preis</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="Price">
        </div>
        <div class="form-group">
            <label for="galleries">Galleries</label><br>
            <select multiple="multiple" class='form-control' name="galleries[]" id="galleries" >
                {% for item in galleries %}
                    <option value="{{item.id}}">{{item.name}}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ asset('js/bootstrap-multiselect.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#galleries').multiselect({
            enableFiltering: true
        });
    })
</script>
{% endblock %}