{% extends 'base-user.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/table.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('colorbox/example5/colorbox.css') }}">
{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/myproduct">Products</a></li>
            <li class="breadcrumb-item" aria-current="page">{{ product.getName }}</li>
        </ol>
    </nav>

    <h3>Products</h3>
    <div class="row">
        <div class="col-lg-2">
            <img style="width:100%;" src="/uploads/media/default/0001/01/{{ preview_image }}">
        </div>
        <div class="col-lg-10">
            <p>Name: {{product.getName}}</p>
            <p>Price: {{product.getPrice}}</p>
            <p>Published: {{product.getEnabled ? 'YES' : 'NOT'}}</p>
            <p>Created at: {{created_At}}</p>
        </div>
    </div>
    <h3>Images</h3>
    <div class="row">
        <div class="col-md-12 custyle">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in images %}
                        <tr>
                            <td>
                                <a class="group4"  title="{{item.getName}}|{{item.getHeight}}x{{item.getWidth}}|{{ images_size[loop.index - 1] }}" href="/uploads/media/default/0001/01/{{ item.getProviderReference }}">
                                    {{item.getName}}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ asset('colorbox/jquery.colorbox.js') }}"></script>
<script type="text/javascript">
   $(document).ready(function(){
     $(".group4").colorbox({rel:'group4', slideshow:true});
     jQuery.colorbox.settings.maxWidth  = '100%';
     jQuery.colorbox.settings.maxHeight = '90%';

      // ColorBox resize function, seems do work now
      var resizeTimer;
      $(window).resize(function(){
        if (resizeTimer) clearTimeout(resizeTimer);
          resizeTimer = setTimeout(function() {
          if ($('#cboxOverlay').is(':visible')) {
            //reload ist selbst hinugefügt in colorbox.js, public func welche einfach nur load() aufruft
            $.colorbox.reload();
          }
        }, 300)
      });

   });
</script>
{% endblock %}