{% extends 'base.html.twig' %}
{% block body %}
    <section class="main-section contact">
        <h2>PASSWORT VERGESSEN</h2><br>
        <h6>
            Gebe einfach ein neues Passwort ein und bestätige.
        </h6>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-5 wow fadeInUp delay-05s">
                    <div class="form ">
                        <form action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">

                            {{ form_label(form.current_password, 'Aktuelle Passwort') }}
                            {{ form_widget(form.current_password, { 'attr': {'class': 'input-text'} }) }}

                            {{ form_label(form.new, 'Neues Password') }}
                            {{ form_widget(form.new, { 'attr': {'class': 'input-text'} }) }}
                            <div>
                                <input type="submit" value="Ändern" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


