{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'base.html.twig' %}

{% block body %}
<div class="main-body">
    <div class="col-md-12">
        <div class="ckeck-top heading">
            <h2>Edit My Profile</h2>
        </div>
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="/myprofile">My Profile</a></li>
            <li class="active">Edit Profile</li>
        </ol>
        <hr>

        {% if message %}
            <div class="alert alert-{{ status }}">
                {{ message }}
            </div>		
        {% endif %}

        <div class="col-md-6 col-sm-12">
            <form class="form-horizontal" action="/profile/edit" method="POST">
                <fieldset>

                <input type="hidden" name="userid" value="{{ userId }}">

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="textinput">First Name</label>
                    <div class="col-sm-8">
                    <input type="text" value="{{ userData.firstname }}" name="firstname" placeholder="First Name" class="form-control" title="Firstname has a character maximum of 20" pattern="^[A-Za-z0-9_]{1,20}$">
                    </div>
                </div>

                    <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="textinput">Last Name</label>
                    <div class="col-sm-8">
                        <input type="text" value="{{ userData.lastname }}" name="lastname" placeholder="Last Name" class="form-control" title="Lastname has a character maximum of 20" pattern="^[A-Za-z0-9_]{1,20}$">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="gender">Gender</label>
                    <div class="col-sm-8">          
                        <select class="form-control" name="gender" id="gender">
                            {# <option value="{{ userData.gender }}" selected>{{ userData.gender }}</option> #}
                            {% for gender in genders %}
                                <option value="{{ gender }}" {{ userData.gender == gender ? 'selected':''}}>{{ gender }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="textinput">Location</label>
                    <div class="col-sm-8">
                        <input type="text" value="{{ userData.location }}" name="location" placeholder="Location" class="form-control" placeholder="First Name" class="form-control" title="Location has a character maximum of 20" pattern="^[A-Za-z0-9_]{1,20}$">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="textinput">Telephone</label>
                    <div class="col-sm-8">
                        <input type="number" value="{{ userData.phone }}" name="phone" placeholder="Telephone" class="form-control">
                    </div>
                </div>

                {% if photographer %}
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="shortdescr">Short Description</label>
                    <div class="col-sm-8">
                        <input type="text" value="{{ userData.shortdescr }}" name="shortdescr" placeholder="Short Description" class="form-control" title="Location has a character maximum of 100" pattern="^[A-Za-z0-9_]{1,100}$">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="longdescr">Long Description</label>
                    <div class="col-sm-8">
                        <textarea type="text" name="longdescr" placeholder="Long Description" class="form-control" title="Location has a character maximum of 500" pattern="^[A-Za-z0-9_]{1,500}$">{{ userData.longdescr }}</textarea>
                    </div>
                </div>
                {% endif %}

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    </div>
                </div>

                </fieldset>
            </form>
        </div><!-- /.col-lg-12 -->
        <div class="col-md-6 col-sm-12">
            <img src="https://api.adorable.io/avatars/285/{{userData.userid}}.png" width="300" height="300" class="navHorizontalCenter" sizes="(max-width: 300px) 100vw, 300px">
        </div>
</div>
{% endblock %}