{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/signing.css') }}">
{% endblock %}

{% block body %}
<div class="main-body">
    <div class="container">

        <h6>
            {%- if app.user -%}
                Herzlich willkommen &nbsp;<b style="    color: #FF9900;">{{- app.user.username -}}</b>!
            {%- endif -%}</span>
        </h6>

        <form class="form-signin" action="{{ path('login') }}" method="post">

            <h2 class="form-signin-heading">Please sign in</h2>
            {% if message %}
                    <p style="{{ status ? 'color:blue;':'color:red;' }}">{{ message }}</p>
            {% endif %}
            <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
            <label for="username" class="sr-only">Name</label>
            <input type="text" id="username" class="form-control" name ="_username" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" name="_password" placeholder="Password" required/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">LOGIN</button>

            <div class="col-lg-12" style="margin-top: 20px;">
                You haven't registered yet? Register<a href="{{ path('signup') }}"> now.</a>
            </div>
            <div class="col-lg-12" style="margin-top: 20px;">
                Register as Photographer<a href="{{ path('photograph_registration') }}"> now.</a>
            </div>
            <div class="col-lg-12" style="margin-top: 20px;">
                Forget password? Click <a href="{{ path('forgot_password') }}">here.</a>
            </div>
        </form>

    </div> <!-- /container -->
</div>
{% endblock %}

