{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/signing.css') }}">
{% endblock %}

{% block body %}
<div class="small-body">
    <div class="container">

        <h2>Registrierung</h2><br>

                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}

                {{ form_end(form) }}
        </div> <!-- /container -->
    </div>
</body>

{% endblock %}