{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/signing.css') }}">
{% endblock %}

{% block body %}
<div class="small-body">
    <form class="form-signin" action="{{ path('change_password') }}" method="post">

        <h2 class="form-signin-heading">Change password</h2>
        {% if message %}
            {{ message }}
        {% endif %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" name="salt" value="{{ salt }}">
        <input type="hidden" name="email" value="{{ email }}">
        <label for="password1" class="sr-only">Password</label>
        <input type="password" id="password1" class="form-control" name="password1" placeholder="Password" required/>
        <label for="password2" class="sr-only">Password</label>
        <input type="password" id="password2" class="form-control" name="password2" placeholder="Confirm password" required/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>
{% endblock %}

